<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<div class="panel panel-default">
  <div class="panel-body">
<p>
	<strong>Produto: </strong>
	<%= @product.produto%>
</p>
<p>
	<strong>Valor: </strong>
	<%= @product.valor%>
</p>
<a href="/" class="glyphicon glyphicon-hand-left"> Voltar</a>
</div>
</div>